resource "datadog_dashboard" "dd_{{ .Id }}"  {
  title       = "{{ .Title }}"
  description = "{{ index .Description "value" }}"
  layout      = "{{ .LayoutType }}"
  read_only   = "{{ .IsReadOnly -}}"
  {{with .Widgets -}}
  {{range . }}
  widget {
    id = "{{ .Id }}"
    {{with .WidgetDefinition -}}
    definition {
	{{ . }}
    }{{end}}
  }{{end}}{{- end}}
}
