resource "datadog_monitor" "dd_{{ .Id }}" {
  name               = "{{ .Name }}"
  type               = "{{ .Type }}"
  {{- if .Tags }}
  tags               = [{{range .Tags}}"{{.}}",{{end}}]
  {{- end }}
  message            = <<EOT
{{ .Message }}
EOT
  escalation_message = <<EOT
{{ .Options.EscalationMessage }}
EOT

  query               = {{ .Query | escapeCharacters }}

  {{- with .Options }}
  {{- if .NotifyNoData }}
  notify_no_data      = {{ .NotifyNoData }}
  {{- end }}
  {{- if not .RenotifyInterval.Get }}
  renotify_interval   = 0
  {{ else }}
  renotify_interval   = {{ .RenotifyInterval.Get }}
  {{- end }}
  {{- if .NotifyAudit }}
  notify_audit        = {{ .NotifyAudit }}
  {{- end }}
  {{- if not .TimeoutH.Get }}
  timeout_h           = 0
  {{ else }}
  timeout_h           = {{ .TimeoutH.Get }}
  {{- end }}
  {{- if .IncludeTags }}
  include_tags        = {{ .IncludeTags  }}
  {{- end }}
  {{- if .RequireFullWindow }}
  require_full_window = {{ .RequireFullWindow }}
  {{- end }}
  {{- if .NewHostDelay }}
  new_host_delay      = {{ .NewHostDelay.Get }}
  {{- end }}
  {{- if not .EvaluationDelay.Get -}}
  {{ else }}
  evaluation_delay    = {{ .EvaluationDelay.Get }}
  {{- end }}

  {{- if .Thresholds }}
  {{- with .Thresholds }}
  thresholds = {
    {{- if not .Ok.Get -}}
    {{ else }}
    ok       = {{ .Ok.Get }}
    {{- end }}
    {{- if not .Warning.Get -}}
    {{ else }}
    warning  = {{ .Warning.Get }}
    {{- end }}
    {{- if .Critical }}
    critical = {{ .Critical }}
    {{- end }}
  }
  {{- end }}
  {{- end }}
  {{- end }}

}
